node_modules
dist
coverage
playwright-report
test-results
*.log
*.tsbuildinfo
prisma/dev.db
**/build/**
**/.next/**
**/.cache/**
**/*.min.js
**/*.min.css
logs
health-reports
public
Upload
uploads
src/types/**/*.d.ts
src/types/**/*.js
src/types/**/*.map
src/validation/**/*.d.ts
src/validation/**/*.js
src/validation/**/*.map